<div class="page">

  <h1 class = "title {{setting.fontSizeTitle}} {{setting.fontStyle}}">Réglages Particuliers</h1>

  <div class = "button">
    <a (click)="this.navigation.navigate('/settings')">
      <button class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}">Retour</button>
    </a>
  </div>

  <br class = "container {{setting.fontSizeText}}"><br>

  <div class = "troubles">

    <div class = "subtitle {{setting.fontSizeSubtitle}} {{setting.fontStyle}}">Troubles Visuels</div>
    <br>

    <div class = "buttonTroubles">
      <div>
        <label class="container {{setting.fontSizeText}} {{setting.fontStyle}}">
          <input type="radio" [checked] ="compareSicknessFont('basic')" name = "radio" (change)="setFont('basic',$event.target.checked)">
          <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
          <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Pas de trouble</div>
        </label>
      </div>

      <div>
        <label class="container {{setting.fontSizeText}} {{setting.fontStyle}}">
          <input type="radio" [checked] ="compareSicknessFont('presbyopia')" name = "radio" (change)="setFont('presbyopia',$event.target.checked)">
          <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
          <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Presbytie</div>
        </label>
      </div>

      <div>
        <label class="container {{setting.fontSizeText}} {{setting.fontStyle}}">
          <input type="radio" [checked] ="compareSicknessFont('myopia')" name = "radio" (change)="setFont('myopia',$event.target.checked)">
          <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
          <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Myopie</div>
        </label>
      </div>

      <div>
        <label class="container {{setting.fontSizeText}} {{setting.fontStyle}}">
          <input type="radio" [checked] ="compareSicknessFont('astigmatism')" name = "radio" (change)="setFont('astigmatism',$event.target.checked)">
          <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
          <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Astigmatie</div>
        </label>
      </div>

      <div>
        <label class="container {{setting.fontSizeText}} {{setting.fontStyle}}">
          <input type="radio" [checked] ="compareSicknessFont('hyperopia')" name = "radio" (change)="setFont('hyperopia',$event.target.checked)">
          <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
          <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Hypermétropie</div>
        </label>
      </div>
    </div>
  </div>

  <div class="daltonisme">

    <div class = "subtitle {{setting.fontSizeSubtitle}} {{setting.fontStyle}}">Daltonisme</div>
    <br>

    <div class ="daltonismeButtons {{setting.fontSizeText}} {{setting.fontStyle}}">
      <label class="containerMono {{setting.fontSizeText}} {{setting.fontStyle}}">
        <input type="checkbox" name = "checkbox" (change)="setMonochromate('monochromate',$event.target.checked)" [checked]="compareSicknessColor('monochromate')">
        <div class="checkmark {{setting.radioRadius}} {{setting.colorButton}}"></div>
        <div class="{{setting.fontSizeText}} {{setting.fontStyle}}">Monochromate</div>
      </label>

      <br><br>
      <div class="chromate">Dichromate</div>
      <select class="{{setting.selectorSize}} {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorButton}}" id="values" (change)="setColors($event.target.value)">
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="basic" [selected]="compareSicknessColor('basic')">Pas de troubles</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="tritanope" [selected]="compareSicknessColor('tritanope')">Tritanope</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="deuteranope" [selected]="compareSicknessColor('deuteranope')">Deutéranope</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value ="protanope" [selected]="compareSicknessColor('protanope')">Protanope</option>
      </select>

      <br><br>
      <div class="chromate">Trichromate anormal</div>
      <select class="{{setting.selectorSize}} {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorButton}}" id="values" (change)="setColors($event.target.value)" [disabled]="false">
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="basic" [selected]="compareSicknessColor('basic')">Pas de troubles</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="tritanomal" [selected]="compareSicknessColor('tritanomal')">Tritanomal</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="deuteranomal" [selected]="compareSicknessColor('deuteranomal')">Deutéranomal</option>
        <option class = "daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value ="protanomal" [selected]="compareSicknessColor('protanomal')">Protanomal</option>
      </select>

    </div>

  </div>

</div>
