@import '../../../styles/central.style.scss';

h2 {
  // Add some CSS here! What if you try to change the background?
  background: #f2f2f2;
}

.attrib-title {
  font-size: large;
}

.attrib-value {
  font-size: small;
}

#date {
  font-size: xx-small;
  float: right;
}

.button-card{
  width: min-content;
}


a{
  text-decoration: inherit;
  color: inherit;
}

#buttons{
  width: inherit;
  display: flex;
}

#stars{
  display: inline;
}

#theme-field{
  float: right;
}
