@import '../../../styles/central.style.scss';

h2 {
  // Add some CSS here! What if you try to change the background?
}

.attrib-title {
}

.attrib-value {
}

#date {
  float: right;
}

.button-card{
  width: min-content;
}


a{
  text-decoration: inherit;
  color: inherit;
}

#buttons{
  width: inherit;
  display: flex;
}

#stars{
  display: flex;
  padding: 0.1em;
}

#theme-field{
  float: right;
}

#container-quiz{
  min-width: 225px;
}
