<div id="container-quiz" class="card {{setting.colorCard}}">

  <!--<i *ngIf="quiz.iconClass" class={{quiz.iconClass}}></i><i *ngIf="!quiz.iconClass" class="fab fa-leanpub"></i><br>-->
  <!--<span class="attrib-title">Nom: </span>-->
  <!--span *ngIf="quiz.date" id="date">Créé le: {{quiz.date | date:'d/MM/yy, H:mm'}}</!--span>-->

  <h2><div class="attrib-title {{setting.fontSizeSubtitle}} {{setting.fontStyle}}">{{quiz.name}}<br></div></h2>
  <div id="theme-field" class="attrib-value {{setting.fontSizeSubtext}} {{setting.fontStyle}}">{{quiz.theme}}</div>

  <div class="attrib-value {{setting.fontSizeSubtext}} {{setting.fontStyle}}">{{quiz.questions.length}} questions<br></div>
  <div id = "stars" *ngFor="let i of [1,2,3,4,5]">
    <img *ngIf="i<=quiz.difficulty" src="https://img.icons8.com/material-sharp/24/000000/star.png" />
    <img *ngIf="i>quiz.difficulty" src="https://img.icons8.com/android/24/000000/star.png" />
  </div>

  <!--<span class="attrib-title"> Thème: </span> <span class="attrib-value">{{quiz.theme}} </span><br>-->

  <div id="buttons">
    <a *ngIf="modifAvailable" (click)="this.navigation.navigate('/edit-quiz/'+quiz.id)"><button id="edit-button" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}">MODIFIER</button></a>
    <a (click)="this.navigation.navigate('/start-quiz/'+quiz.id)"><button id="select-button" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}">COMMENCER</button></a>
    <!--<button id="delete-button" class="button-card" (click)="rmQuiz()">SUPPRIMER</button>-->
  </div>

</div>
