@import '../../../../styles/central.style.scss';

.user-list {
  display: flex;
  justify-content: space-around;
  min-height: 72%;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}

.add-use-button {
  font-size: 4.5em;
  display: flex;
  align-items: center;
  justify-items: center;
}

.add-use-button:hover{
  cursor: pointer;
}

.block-items{
  flex-basis: 18em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
