<div class="quiz-list">
    <div class="creation-and-filter">
        <app-quiz-form></app-quiz-form>
        <app-quiz-sort [quizList]="quizList"></app-quiz-sort>
    </div>
    <div class="container-display">
      <div class="container-quiz">
          <div class="quiz" *ngFor="let quiz of quizList; let i=index">
              <!--Inputs & Output allow communication between parent & child components.-->
              <!--More information: https://angular.io/guide/component-interaction-->
              <app-quiz *ngIf="i>=currentFirstQuizDisp && i<currentFirstQuizDisp+nbMaxQuizDisp" [quiz]="quiz" (quizSelected)="quizSelected($event)" (quizToDeleted)="deleteQuiz($event)"></app-quiz>
          </div>
      </div>
    </div>
    <div *ngIf="quizList.length>nbMaxQuizDisp" id="up-down-ans-buttons">
      <i class="fas fa-arrow-circle-up" (click)="moveMinDisp(-nbMaxQuizDisp/2)"></i>
      <i class="fas fa-arrow-circle-down" (click)="moveMinDisp(nbMaxQuizDisp/2)"></i>
    </div>
</div>
