@import '../../../styles/central.style.scss';

.quiz-list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.quiz{
  min-width: 0;
}

.container-quiz {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.creation-and-filter {
  width: fit-content;
}

.creation-and-filter div.card {
  margin-left: 0;
}

#up-down-ans-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1em;
  align-items: center;
}

#up-down-ans-buttons i{
  font-size: 4em;
}

.container-display{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
