@import '../../../styles/central.style.scss';

.quiz-list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.quiz{
  min-width: 0;
  max-width: 18em;
}

.container-quiz {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  flex-basis: 89%;
}

.creation-and-filter {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
  border-right: solid black 0.5px;

  -webkit-box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.19);
}

.creation-and-filter ::ng-deep.card {
  margin-left: 0;
  margin-right: 0;
  border-right: initial;
  border-left: initial;
  border-top: initial;
  padding-bottom: 1rem;
  border-radius: 0;
  box-shadow: 0 0 0 0;
}

#up-down-ans-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1em;
  align-items: center;
}

#up-down-ans-buttons i{
  font-size: 4em;
}

.container-display{
  display: flex;
  justify-content: space-around;
  height: 100%;
}
