<div class="header {{setting.colorHeader}}">

  <h1 class="title {{setting.fontSizeTitle}} {{setting.fontStyle}}">PolyQuiz</h1>

  <div class="buttons_left buttons">
    <button class="settings_button button header-button {{setting.colorButton}}" (click)="navigation.navigate('/settings')">
      <div class="centrer {{setting.fontStyle }} {{ setting.fontSizeText}}">
        Réglages<i class="fas fa-cog"></i>
<!--        <img src="https://img.icons8.com/material-sharp/24/000000/settings.png" />-->
      </div>
        <!--<div class="button_txt">Réglages</div>-->
    </button>
    <button class="home_button button header-button {{setting.colorButton}}" (click)="navigation.navigate('/quiz-list')">
      <div class="centrer {{setting.fontStyle }} {{ setting.fontSizeText}}">
        Accueil<i class="fas fa-home"></i>
<!--        <img src="https://img.icons8.com/material-rounded/24/000000/home-page.png" />-->
      </div>
        <!--<div class="button_txt">Accueil</div>-->
    </button>
  </div>
  <div class="buttons_right buttons">
    <button *ngIf="!this.navigation.userId" routerLink="/user-list" class="log_button button header-button {{setting.colorButton}}">
      <div class="centrer {{setting.fontStyle }} {{ setting.fontSizeText}}">
        Connexion<i class="fas fa-sign-in-alt"></i>
<!--        <img src="https://img.icons8.com/material-outlined/24/000000/export.png" />-->
      </div>
        <!--<div class="button_txt">Accueil</div>-->
    </button>
    <button *ngIf="this.navigation.userId" routerLink="/user-list" class="log_button button header-button {{setting.colorButton}}">
      <div class="centrer {{setting.fontStyle }} {{ setting.fontSizeText}}">
        Déconnexion<i class="fas fa-sign-out-alt"></i>
<!--        <img src="https://img.icons8.com/material-outlined/24/000000/export.png" />-->
      </div>
        <!--<div class="button_txt">Accueil</div>-->
    </button>
  </div>
</div>
