@import "../../styles/central.style.scss";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #000000;
  position: relative;
}

.title {
  position: relative;
  text-align: center;
  margin: 10px;
}

.header-button{
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #aaa;
}

.centrer {
  text-align:center;
}

.button_txt {
  color: black;
}

.buttons {
  display: flex;
  position: absolute;
  right: 30px;
  top: 0;
  height: 100%;
  align-items: center;
}

.buttons i {
  font-size: 1.3em;
}

