@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  background: #0052F6;
  padding: 0.5em;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #000000;
  position: relative;
}

.title {
  position: relative;
  text-align: center;
  margin: 10px;
}

.settings_button {
  position: relative;
  left: 40px;
  margin: 10px;
  //border: 3px solid black;
  background: #0052F6;
}

.home_button {
  position: relative;
  left: 40px;
  margin: 10px;
  //border: 3px solid black;
  background: #0052F6;
}

.button_txt {
  font-size: 20px;
  color: black;
}

.buttons {
  position: absolute;
  right: 0px;
  top: 8px;
  margin: px;
  width: 250px;
}

.title {
  font-family:arial, sans-serif;
}
