<div class="header">

    <h1 class="title"><font face="arial black">PolyQuiz</font></h1>
    
    <div class="buttons">
        <button class="settings_button"><a routerLink="/settings">
            <img src="https://img.icons8.com/material-sharp/24/000000/settings.png" />
            <!--<div class="button_txt">Réglages</div>-->
        </a></button>
        <button class="home_button"><a routerLink="/quiz-list">
            <img src="https://img.icons8.com/material-rounded/24/000000/home-page.png" />
          <!--<div class="button_txt">Accueil</div>-->
        </a></button>
    </div>

</div>
