<div class="card">
  <h1>Créer une nouvelle question</h1>
  <form class="question-form" [formGroup]="questionForm">
    <label for="question-title">
      La question est :
      <input class="input-custom" type="text" id="question-title" [formControlName]="'label'">
    </label>
    <br>
    <button class="button-card" (click)="addAnswer()">AJOUTER UNE RÉPONSE</button>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse
            <input type="text" [formControlName]="'value'">
            <br>
            Bonne réponse ?
            <input type="checkbox" [formControlName]="'isCorrect'">
          </label>
        </div>
      </div>
    </div>
    <select size="3">
      <option selected>Sous quel roi débutent les mousquetaires ?</option>
      <option>Quelle est l'arme d'un mousquetaire ?</option>
      <option>Lequel n'est pas un mousquetaire ?</option>
      <option>Mars</option>
      <option>Jupiter</option>
      <option>Saturne</option>
    </select><br />
    <button type="submit" class="button-card" (click)="upQuestion()">CONFIRMER</button>
  </form>
</div>
