<h1 class = "title">Réglages Particuliers</h1>

<div> 
  <br><br>
<div>
<label class="container {{fontSize}}">Presbytie
    <input type="checkbox" (change)="setFontSize('font-size-large',$event.target.checked)">
    <span class="checkmark"></span>
  </label>
</div>
  
<div>
  <label class="container {{fontSize}}">Myopie
    <input type="checkbox" (change)="setFontSize('font-size-medium',$event.target.checked)">
    <span class="checkmark"></span>
  </label>
</div>

  <div>
  <label class="container {{fontSize}}">Astigmatie
    <input type="checkbox" (change)="setFontSize('font-size-large',$event.target.checked)">
    <span class="checkmark"></span>
  </label>
</div>
  
  <div>
  <label class="container {{fontSize}}">Hypermétropie
    <input type="checkbox" (change)="setFontSize('font-size-large',$event.target.checked)">
    <span class="checkmark"></span>
  </label>
</div>

<div class ="daltonisme {{fontSize}}">
  <br>
<label>Choisissez un type de Daltonisme : </label>
<select id="values" disabled>
  <option class = "daltonisme {{fontSize}}" value="Monochromate">Monochromate</option>
  <option class = "daltonisme {{fontSize}}" value="Dichromate">Dichromate</option>
  <option class = "daltonisme {{fontSize}}" value="Trichromate Anormal">Trichromate Anormal</option>
</select>
</div>
</div>