@import '../../../styles/central.style.scss';

.answer {
    width: 20%;
    position: relative;
}

.next {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.fa-arrow-right {
    size: 5px;
}

#button-return {
    margin-left: 1em;
    margin-top: 1em;
}

#button-start {
    margin-bottom: 1em;
    margin-top: 1em;
}

#button-restart {
    margin-right: 0.5em;
    width: 20%;
}

#button-new-quiz {
    margin-left: 0.5em;
    width: 20%;
}

#button-next {
    width: 15%;
}

.starter-quiz {
    margin-top: 5%;
}

.center {
    text-align: center;
}

.grid {
    display: grid;
}

.space {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.right {
    text-align: right;
}

.margin-top {
    margin-top: 2%;
}

.anwser-correct, .anwser-correct:hover {
}

.anwser-incorrect:hover {
}

.selected-anwser-incorrect, .selected-anwser-incorrect:hover {
}

.progress {
    width: 100%;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 10px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;
}

progress::-webkit-progress-value {
      border-radius: 15px;
      background-color: $blue;
}

.container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}
