<div class="starter-quiz  {{setting.fontStyle}}">
    <div *ngIf="!started" >
        <a (click)="this.navigation.navigate('/quiz-list')"><button id="button-return" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}"> Retour </button></a>
        <div *ngIf="quiz" class="container">
            <p class="bold {{ setting.fontSizeSubtitle }}"> {{ quiz.name }} </p>
            <p *ngIf="quiz.questions.length == 1" class="{{ setting.fontSizeText }}">{{ quiz.questions.length }} Question</p>
            <p *ngIf="quiz.questions.length > 1" class="{{ setting.fontSizeText }}">{{ quiz.questions.length }} Questions</p>
            <p class="{{ setting.fontSizeText }}">Difficulté</p>
            <div class="stars {{ setting.fontSizeText }}">
                <div *ngFor="let i of [1,2,3,4,5]">
                    <i *ngIf="i<=quiz.difficulty" class="fas fa-star"></i>
                    <i *ngIf="i>quiz.difficulty" class="far fa-star"></i>
                </div>
            </div>
            <button id="button-start" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}" (click)="startQuiz()">Commencer</button>
        </div>
    </div>
    <div *ngIf="started && !finished" class="play-game">
        <div class="question {{setting.fontSizeSubtitle}}">{{question.label}}</div>
        <div *ngIf="!answered()" class="answer-container">
            <div class="answer" *ngFor="let answer of question.answers; let i = index">
                <button *ngIf="i >= currentFirstAnswerDisp && i < currentFirstAnswerDisp + nbMaxAnswerDisp" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}} button-answer" (click)="setAnswer(answer)"> {{ answer.value }} </button>
            </div>
        </div>
        <div *ngIf="!answered() && question.answers.length <= nbMaxQuizDisp"></div>
        <div class="navigation {{ setting.fontSizeText }}" *ngIf="!answered() && question.answers.length > nbMaxAnswerDisp">
            <i class="fas fa-arrow-circle-left" (click)="moveMinDisp(-nbMaxAnswerDisp)"></i>
            <p class="page">{{ getCurrentAnswer() }}/{{ getTotalAnswer() }}</p>
            <i class="fas fa-arrow-circle-right" (click)="moveMinDisp(nbMaxAnswerDisp)"></i>
        </div>
        <div *ngIf="answered() && correctAnswer.length > 0" class="answer-container-2">
            <div *ngFor="let answer of correctAnswer">
                <button class="answer button-card-answser {{setting.fontSizeButton}} {{setting.colorYes}} element" DISABLED> <i class="fas fa-check"></i> {{ answer.value }}</button>
            </div>
            <div><button *ngIf="!answerSelected.isCorrect" class="answer button-card-answser {{setting.fontSizeButton}} {{setting.colorNo}} element" DISABLED> <i class="fas fa-times"></i> {{ answerSelected.value }} </button></div>
        </div>
        <div *ngIf="answered() && correctAnswer.length == 0" class="answer-container-2">
            <p class="{{ setting.fontSizeText }}">Il n'y a pas de bonne réponse <i class="fas fa-smile-wink {{ setting.fontSizeText }}"></i></p>
        </div>
        <div *ngIf="answered() && !inProgress" class="next">
            <button id="button-next" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}" (click)="next()">Suivant<i class="fas fa-arrow-right"></i></button>
        </div>
        <div *ngIf="answered() && inProgress" class="next">
            <button id="button-next" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}" (click)="finish()">Terminer<i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
    <div *ngIf="finished">
        <div class="container">
            <p class="bold {{setting.fontSizeSubtitle}}">Bien joué !</p>
            <p class="{{setting.fontSizeText}}">Fin du quiz "{{quiz.name}}"</p>
            <p class="{{setting.fontSizeText}}">Votre score : {{ score }}/{{ quiz.questions.length }}</p>
        </div>
        <div class="end-container">
            <button id="button-restart" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}" (click)="restart()">Recommencer</button>
            <a (click)="this.navigation.navigate('/quiz-list')"><button id="button-new-quiz" class="button-card {{setting.fontSizeButton}} {{setting.colorButton}}">Nouveau Quiz</button></a>
        </div>
    </div>
</div>
