@import '../../../../styles/central.style.scss';

.card{
  width: min-content;
}

.input-custom {
  max-width: 8em ;
}

button.disabled {
  background: ThreeDShadow;
}

button.disabled:hover {
  cursor: initial;
  background: ButtonShadow;
}
