<div class = "page">
    
    <div>
        <h1 class = "title {{setting.fontSizeTitle}} {{setting.fontStyle}}">Réglages</h1>

        <div class = "button">
            <a routerLink="/specialSettings">
                <button class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}">Réglages Particuliers</button>
            </a>
        </div>
    </div>

    <br>
    <div class="scrollSize {{setting.fontSizeText}}" >
        <input class="scroll {{setting.colorCard}} {{setting.colorScroll}} {{setting.scrollSize}}" type="range" value="0" max="4" min="0" step="1">
    </div>

</div>