@import "../../../styles/central.style.scss";

.page {
  position: relative;
}

.title {
  position: relative;
  text-align: center;
  margin: 10px;
}

.button-card {
  position: absolute;
  max-width: 35%;
  right: 2%;
  top: 0%;
}

.scrollSize {
  position: relative;
  margin: 1%;
  text-align: center;
}

.scroll {
  position: relative;
  -webkit-appearance: none;
  cursor: pointer;
  border:0 solid transparent;
  border-radius:1.5rem;
  margin: 1%;
}

.scroll::-moz-range-thumb {
  cursor: pointer;
  border:0 solid transparent;
  border-radius:1.5rem;
}

.enonce {
  margin: 2%;
}