<div class="page">

  <div>
    <h1 class="title {{setting.fontSizeTitle}} {{setting.fontStyle}}">Réglages</h1>

    <div class="button">
      <a (click)="this.navigation.navigate('/specialSettings')">
        <button class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}">Réglages Particuliers</button>
      </a>
    </div>
  </div>

  <br>
  <div class="enonce {{setting.fontSizeText}} {{setting.fontStyle}}">Police d'écriture :</div>
  <div class="scrollSize {{setting.fontSizeText}}">
    <select class="{{setting.selectorSize}} {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorButton}}" id="values" (change)="setFont($event.target.value)">
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="arial" [selected]="compareFont('arial')">Arial</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="fantasy" [selected]="compareFont('fantasy')">Fantasy</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="lucida" [selected]="compareFont('lucida')">Lucida Grande</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="times" [selected]="compareFont('times')">Times</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="monospace" [selected]="compareFont('monospace')">Monospace</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="franklin" [selected]="compareFont('franklin')">Franklin</option>
      <option class="daltonisme {{setting.fontSizeText}} {{setting.fontStyle}}" value="segoe" [selected]="compareFont('segoe')">Segoe</option>
    </select>
  </div>
  <div class="enonce {{setting.fontSizeText}} {{setting.fontStyle}}">Taille de la police :</div>
  <div class="scrollSize {{setting.fontSizeText}}">
    <input class="scroll {{setting.colorCard}} {{setting.colorScroll}} {{setting.scrollSize}}" type="range" [value]="setScrollValue()" max="4" min="0" step="1" (change)="changeSize($event.target.value)">
    <div class="{{setting.fontSizeSubtext}} {{setting.fontStyle}}">Réglez la taille de la police selon votre convenance</div>
  </div>
  <div class="enonce {{setting.fontSizeText}} {{setting.fontStyle}}">Mode sombre :</div>
  <div class="centrer">
    <label class="switch">
      <input type="checkbox" name="checkbox" [checked]="compareSicknessColor('dark')" (change)="setDark('dark',$event.target.checked)">
      <span class="slider round"></span>
    </label>
  </div>


</div>
