@import '../../../../styles/central.style.scss';

.card{
  width: min-content;
}

button.disabled {
  background: ThreeDShadow;
}

button.disabled:hover {
  cursor: initial;
  background: ButtonShadow;
}

.title{
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
}

.container{
  text-align: center;
}

button{
  width: 80%;
  min-width: max-content;
}

#errorMsg{
  font-style: italic;
  text-decoration: underline black solid;
}
