@import '../../../styles/central.style.scss';

.edit-quiz{
  display: flex;
  min-height: 100%;
}

#edit-bar form {
  margin: auto;
}

#edit-bar {
  position: fixed;
  padding-top: 1em;
  padding-left: 1em;
}

.edit-bar-shape {
  min-width: 25%;
  width: 25%;
}

#edit-bar-design {
  border-right: 1px;
}

#edit-body {
  text-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#edit-quiz-form{
  margin : auto;
}

#button-return{
  margin-bottom: 10px;
}

.stars-container{
  display: flex;
}

.stars i:hover{
  cursor: pointer;
}

.stars i{
  font-size: 1.4em;
}

.input-custom {
  max-width: 80%;
}

#theme {
  max-width: 80%;
}
