<div class="edit-quiz {{setting.colorBackground}}">
  <div id="edit-bar" class="edit-bar-shape">
    <a (click)="this.navigation.navigate('/quiz-list')"><button class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}" id="button-return">Retour</button></a>
    <div id="edit-quiz-form">
      <form class="quiz-form" *ngIf="quizForm" [formGroup]="quizForm">
        <label for="title" class="title {{setting.fontSizeText}} {{setting.fontStyle}}">
          Titre&nbsp;&nbsp;&nbsp;&nbsp;
          <input class="input-custom {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorCard}}" type="text" id="title" [formControlName]="'name'" value="{{this.quiz.name}}">
        </label>
        <br>
        <label for="theme" class="{{setting.fontSizeText}} {{setting.fontStyle}}">
          Thème
          <br>
          <select name="theme-field" id="theme" [formControlName]="'theme'" class="{{setting.selectorSize}} {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorCard}}">
            <option value="{{this.quiz.theme}}" [selected]="true" class="{{setting.fontSizeText}} {{setting.fontStyle}}">{{this.quiz.theme}}</option>
            <ng-container *ngFor="let currentTheme of THEME_LIST">
              <option *ngIf="currentTheme.toString()!=this.quiz.theme.toString()"  [value]="currentTheme" class="{{setting.fontSizeText}} {{setting.fontStyle}}">{{currentTheme}}</option>
            </ng-container>
          </select>
        </label>
        <br>
          <h1 class="{{setting.fontSizeText}} {{setting.fontStyle}}">Difficulté :</h1>
        <div class = "stars-container">
          <div class="stars {{setting.fontSizeText}} {{setting.fontStyle}}" *ngFor="let i of [1,2,3,4,5]">
            <i *ngIf="i<=diffSave" (click)="this.diffSave=i" class="fas fa-star"></i>
            <i *ngIf="i>diffSave" (click)="this.diffSave=i" class="far fa-star"></i>
          </div>
        </div>
        <br>
        <p id="msg"></p>
        <a (click)="this.navigation.navigate('/quiz-list')"><button type="submit" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}" (click)="upQuiz()">ENREGISTRER</button></a>
        <a (click)="this.navigation.navigate('/quiz-list')"><button type="submit" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}" (click)="deleteQuiz()">SUPPRIMER</button></a>
      </form>
    </div>
  </div>
  <div class="edit-bar-shape {{ setting.colorCard }}"></div>
  <div *ngIf="this.quiz != null" id="edit-body">
    <app-question-form *ngIf="this.question != null" [quiz]="quiz" [question]="question" (modificationEnded)="resetQuestion($event)"></app-question-form>
    <app-question-list [quiz]="quiz" (questionSelected)="selectQuestion($event)"></app-question-list>
    <button type="submit" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}" (click)="newQuestion()">Nouvelle question</button>
  </div>
</div>
