@import '../../../styles/central.style.scss';

.edit-quiz{
  display: flex;
}

#edit-bar form {
  margin: auto;
}

#edit-bar {
  position: fixed;
  height: 100%;
  width: 20%;
  padding-top: 1em;
  padding-left: 1em;
}

#edit-body {
  margin-left: 24%;/* Same as the width of the sidenav */
}

#edit-quiz-form{
  margin : auto;
}

#button-return{
  margin-bottom: 3em;
}

