@import "./font.scss";
@import "./variables.scss";
@import "./card.scss";
@import "./color.scss";

a{
    text-decoration: inherit;
    color: inherit;
}

body{
    margin:0px;
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */
html {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    height:auto;
  }