//COLORS BASIC
.color-basic-background {
    background-color: #9FC5F8;
}
.color-basic-header {
    background-color: #0052F6;
}
.color-basic-yes {
    background-color: #20ee31;
}
.color-basic-no {
    background-color: #ee2020;
}
.color-basic-button{
    background-color: #3862b6;
}

//COLORS TRITANOMAL (faible sur bleu)
.color-tritanomal-background {
    background-color: rgb(248, 212, 159);
}
.color-tritanomal-header {
    background-color: rgb(246, 180, 0);
}
.color-tritanomal-yes {
    background-color: #2023ee;
}
.color-tritanomal-no {
    background-color: #ee2020;
}
.color-tritanomal-button{
    background-color: #b69f38;
}

//COLORS PROTANOMAL (faible sur rouge)
.color-protanomal-background {
    background-color: #f89f9f;
}
.color-protanomal-header {
    background-color: #f60000;
}
.color-protanomal-yes {
    background-color: #ad20ee;
}
.color-protanomal-no {
    background-color: #20ee2a;
}
.color-protanomal-button{
    background-color: #b63838;
}

//COLORS DEUTERANOMAL (faible sur vert)
.color-deuteranomal-background {
    background-color: #f89f9f;
}
.color-deuteranomal-header {
    background-color: #f60000;
}
.color-deuteranomal-yes {
    background-color: #be20ee;
}
.color-deuteranomal-no {
    background-color: #eea620;
}
.color-deuteranomal-button{
    background-color: #b63838;
}