//COLORS BASIC
.color-basic-background {
    background-color: #9FC5F8;
}
.color-basic-header {
    background-color: #0052F6;
}
.color-basic-yes {
    background-color: #20ee31;
}
.color-basic-no {
    background-color: #ee2020;
}
.color-basic-button{
    background-color: #3862b6;
}
.color-basic-card {
    background-color: #5c9ff7;
}
.color-basic-scroll::-moz-range-thumb {
    background: #3862b6;
}
.color-basic-scroll::-webkit-slider-thumb {
    background: #3862b6;
}

//COLORS MONOCHROMATE
.color-monochromate-background {
    background-color: #ffffff;
}
.color-monochromate-header {
    background-color: #444444;
}
.color-monochromate-yes {
    background-color: #a5a5a5;
}
.color-monochromate-no {
    background-color: #a5a5a5;
}
.color-monochromate-button{
    background-color: #747474;
}
.color-monochromate-card {
    background-color: #cccccc;
}
.color-monochromate-scroll::-moz-range-thumb {
    background: #747474;
}
.color-monochromate-scroll::-webkit-slider-thumb {
    background: #747474;
}


// COULEURS DICHROMATES

// COULEURS TRITANOPE
.color-tritanope-background {
    background-color: #f8d49f;
}
.color-tritanope-header {
    background-color: #f6b400;
}
.color-tritanope-yes {
    background-color: #2023ee;
}
.color-tritanope-no {
    background-color: #ee2020;
}
.color-tritanope-button{
    background-color: #b69f38;
}
.color-tritanope-card {
    background-color: #fab854;
}
.color-tritanope-scroll::-moz-range-thumb {
    background: #b69f38;
}
.color-tritanope-scroll::-webkit-slider-thumb {
    background: #b69f38;
}

// COULEURS PROTANOPE
.color-protanope-background {
    background-color: #f89f9f;
}
.color-protanope-header {
    background-color: #f60000;
}
.color-protanope-yes {
    background-color: #ad20ee;
}
.color-protanope-no {
    background-color: #20ee2a;
}
.color-protanope-button{
    background-color: #b63838;
}
.color-protanope-card {
    background-color: #f35252;
}
.color-protanope-scroll::-moz-range-thumb {
    background: #b63838;
}
.color-protanope-scroll::-webkit-slider-thumb {
    background: #b63838;
}

// COULEURS DEUTERANOPE
.color-deuteranope-background {
    background-color: #f89f9f;
}
.color-deuteranope-header {
    background-color: #f60000;
}
.color-deuteranope-yes {
    background-color: #be20ee;
}
.color-deuteranope-no {
    background-color: #eea620;
}
.color-deuteranope-button{
    background-color: #b63838;
}
.color-deuteranope-card {
    background-color: #f35252;
}
.color-deuteranope-scroll::-moz-range-thumb {
    background: #b63838;
}
.color-deuteranope-scroll::-webkit-slider-thumb {
    background: #b63838;
}


//COULEURS TRICHROMATES

//COLORS TRITANOMAL (faible sur bleu)
.color-tritanomal-background {
    background-color: #00ff00;
}
.color-tritanomal-header {
    background-color: #2948f8;
}
.color-tritanomal-yes {
    background-color: #ff1ce1;
}
.color-tritanomal-no {
    background-color: #ff0000;
}
.color-tritanomal-button{
    background-color: #5e76fa;
}
.color-tritanomal-card {
    background-color: #37fd89;
}
.color-tritanomal-scroll::-moz-range-thumb {
    background: #5e76fa;
}
.color-tritanomal-scroll::-webkit-slider-thumb {
    background: #5e76fa;
}

//COLORS PROTANOMAL (faible sur rouge)
.color-protanomal-background {
    background-color: #8cc2ff;
}
.color-protanomal-header {
    background-color: #3a47f7;
}
.color-protanomal-yes {
    background-color: #00ff00;
}
.color-protanomal-no {
    background-color: #ff0080;
}
.color-protanomal-button{
    background-color: #4450fa;
}
.color-protanomal-card {
    background-color: #5762fa;
}
.color-protanomal-scroll::-moz-range-thumb {
    background: #4450fa;
}
.color-protanomal-scroll::-webkit-slider-thumb {
    background: #4450fa;
}

//COLORS DEUTERANOMAL (faible sur vert)
.color-deuteranomal-background {
    background-color: #52c5fa;
}
.color-deuteranomal-header {
    background-color: #1900f6;
}
.color-deuteranomal-yes {
    background-color: #2bff00;
}
.color-deuteranomal-no {
    background-color: #ee2020;
}
.color-deuteranomal-button{
    background-color: #5f4ef7;
}
.color-deuteranomal-card {
    background-color: #2da8e0;
}
.color-deuteranomal-scroll::-moz-range-thumb {
    background: #5f4ef7;
}
.color-deuteranomal-scroll::-webkit-slider-thumb {
    background: #5f4ef7;
}