//COLORS BASIC
.color-basic-background {
  background-color: #9FC5F8;
  color: #000000;
}
.color-basic-header {
  background-color: #0052F6;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-basic-yes {
  background-color: #20ee31;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-basic-no {
  background-color: #ee2020;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-basic-button {
  background-color: #3862b6;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-basic-card {
  background-color: #5c9ff7;
  color: #000000;
}
.color-basic-scroll::-moz-range-thumb {
    background: #3862b6;
}
.color-basic-scroll::-webkit-slider-thumb {
    background: #3862b6;
}

//COLORS MONOCHROMATE
.color-monochromate-background {
  background-color: #ffffff;
  color: #000000;
}
.color-monochromate-header {
  background-color: #444444;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-monochromate-yes {
  background-color: #a5a5a5;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-monochromate-no {
  background-color: #a5a5a5;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-monochromate-button {
  background-color: #747474;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-monochromate-card {
  background-color: #cccccc;
  color: #000000;
}
.color-monochromate-scroll::-moz-range-thumb {
    background: #747474;
}
.color-monochromate-scroll::-webkit-slider-thumb {
    background: #747474;
}


// COULEURS DICHROMATES

// COULEURS TRITANOPE
.color-tritanope-background {
  background-color: #f8d49f;
  color: #000000;
}
.color-tritanope-header {
  background-color: #f6b400;
  color: #000000;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanope-yes {
  background-color: #2023ee;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanope-no {
  background-color: #ee2020;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanope-button {
  background-color: #b69f38;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanope-card {
  background-color: #fab854;
  color: #000000;
}
.color-tritanope-scroll::-moz-range-thumb {
    background: #b69f38;
}
.color-tritanope-scroll::-webkit-slider-thumb {
    background: #b69f38;
}

// COULEURS PROTANOPE
.color-protanope-background {
  background-color: #f89f9f;
  color: #000000;
}
.color-protanope-header {
  background-color: #f60000;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanope-yes {
  background-color: #ad20ee;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanope-no {
  background-color: #20ee2a;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanope-button {
  background-color: #b63838;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanope-card {
  background-color: #f35252;
  color: #000000;
}
.color-protanope-scroll::-moz-range-thumb {
    background: #b63838;
}
.color-protanope-scroll::-webkit-slider-thumb {
    background: #b63838;
}

// COULEURS DEUTERANOPE
.color-deuteranope-background {
  background-color: #f89f9f;
  color: #000000;
}
.color-deuteranope-header {
  background-color: #f60000;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranope-yes {
  background-color: #be20ee;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranope-no {
  background-color: #eea620;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranope-button {
  background-color: #b63838;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranope-card {
  background-color: #f35252;
  color: #000000;
}
.color-deuteranope-scroll::-moz-range-thumb {
    background: #b63838;
}
.color-deuteranope-scroll::-webkit-slider-thumb {
    background: #b63838;
}


//COULEURS TRICHROMATES

//COLORS TRITANOMAL (faible sur bleu)
.color-tritanomal-background {
  background-color: #00ff00;
  color: #000000;
}
.color-tritanomal-header {
  background-color: #2948f8;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanomal-yes {
  background-color: #ff1ce1;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanomal-no {
  background-color: #ff0000;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanomal-button {
  background-color: #5e76fa;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-tritanomal-card {
  background-color: #37fd89;
  color: #000000;
}
.color-tritanomal-scroll::-moz-range-thumb {
    background: #5e76fa;
}
.color-tritanomal-scroll::-webkit-slider-thumb {
    background: #5e76fa;
}

//COLORS PROTANOMAL (faible sur rouge)
.color-protanomal-background {
  background-color: #8cc2ff;
  color: #000000;
}
.color-protanomal-header {
  background-color: #3a47f7;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanomal-yes {
  background-color: #00ff00;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanomal-no {
  background-color: #ff0080;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanomal-button {
  background-color: #4450fa;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-protanomal-card {
  background-color: #5762fa;
  color: #000000;
}
.color-protanomal-scroll::-moz-range-thumb {
    background: #4450fa;
}
.color-protanomal-scroll::-webkit-slider-thumb {
    background: #4450fa;
}

//COLORS DEUTERANOMAL (faible sur vert)
.color-deuteranomal-background {
  background-color: #52c5fa;
  color: #000000;
}
.color-deuteranomal-header {
  background-color: #1900f6;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranomal-yes {
  background-color: #2bff00;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranomal-no {
  background-color: #ee2020;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranomal-button {
  background-color: #5f4ef7;
  color: #000000;
  box-shadow: 2px 2px 5px #aaa;
}
.color-deuteranomal-card {
  background-color: #2da8e0;
  color: #000000;
}
.color-deuteranomal-scroll::-moz-range-thumb {
    background: #5f4ef7;
}
.color-deuteranomal-scroll::-webkit-slider-thumb {
    background: #5f4ef7;
}

//DARK MODE COLORS
.color-dark-background {
  background-color: #073763;
  color: #D4D4D4;
}

.color-dark-header {
  background-color: #085394;
  border: solid 1px #000000;
  box-shadow: 2px 2px 5px #000;
}

.color-dark-yes {
  background-color: #008000;
  color: #D4D4D4;
  box-shadow: 2px 2px 5px #000;
}

.color-dark-no {
  background-color: #C40000;
  color: #D4D4D4;
  box-shadow: 2px 2px 5px #000;
}

.color-dark-button {
  background-color: #455E92;
  color: #D4D4D4;
  box-shadow: 2px 2px 5px #000;
}

.color-dark-card {
  background-color: #22427C;
  color: #D4D4D4;
}

.color-dark-scroll::-moz-range-thumb {
  background: #42588C;
}

.color-dark-scroll::-webkit-slider-thumb {
  background: #42588C;
}
