//FONT SIZE BASIC
.font-size-basic-text {
    font-size: 22px;
}
.font-size-basic-subtitle {
    font-size: 30px;
}
.font-size-basic-title {
    font-size: 40px;
}
.font-size-basic-button {
    font-size: 25px;
}
.font-style-basic{
    font-family: Arial, Helvetica, sans-serif;
}
.font-size-basic-selector {
    height: 27px;
    width: 180px;
}

//FONT SIZE PRESBYOPIA
.font-size-presbyopia-text{
    font-size: 27px;
}
.font-size-presbyopia-subtitle {
    font-size: 35px;
}
.font-size-presbyopia-title {
    font-size: 45px;
}
.font-size-presbyopia-button {
    font-size: 30px;
}
.font-style-presbyopia{
    font-family: fantasy;
}
.font-size-presbyopia-selector {
    height: 32px;
    width: 215px;
}

//FONT SIZE MYOPIA
.font-size-myopia-text{
    font-size: 32px
}
.font-size-myopia-subtitle {
    font-size: 40px;
}
.font-size-myopia-title {
    font-size: 50px;
}
.font-size-myopia-button {
    font-size: 35px;
}
.font-style-myopia {
    font-family: cursive;
}
.font-size-myopia-selector {
    height: 37px;
    width: 250px;
}

//FONT SIZE ASTIGMATISM
.font-size-astigmatism-text{
    font-size: 37px
}
.font-size-astigmatism-subtitle {
    font-size: 45px;
}
.font-size-astigmatism-title {
    font-size: 55px;
}
.font-size-astigmatism-button {
    font-size: 30px;
}
.font-style-astigmatism {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.font-size-astigmatism-selector {
    height: 42px;
    width: 285px;
}

//FONT SIZE HYPERYOPIA
.font-size-hyperopia-text{
    font-size: 42px
}
.font-size-hyperopia-subtitle {
    font-size: 50px;
}
.font-size-hyperopia-title {
    font-size: 60px;
}
.font-size-hyperopia-button {
    font-size: 35px;
}
.font-style-hyperopia {
    font-family: monospace;
}
.font-size-hyperopia-selector {
    height: 47px;
    width: 320px;
}

