<div class="card {{setting.colorCard}}">
  <h2 class="{{setting.fontSizeTitle}} {{setting.fontStyle}}">Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title" class="{{setting.fontSizeText}} {{setting.fontStyle}}">
      Titre
      <br>
      <input class="input-custom" type="text" id="title" [formControlName]="'name'" class="{{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorButton}}">
    </label>
    <br>
    <label for="theme" class="{{setting.fontSizeText}} {{setting.fontStyle}}">
      Thème
      <br>
      <select name="theme-field" id="theme" [formControlName]="'theme'" class="{{setting.selectorSize}} {{setting.fontSizeText}} {{setting.fontStyle}} {{setting.colorButton}}">
        <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme" class="{{setting.fontSizeText}} {{setting.fontStyle}}">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <br>
    <button type="submit" class="button-card {{setting.fontSizeButton}} {{setting.fontStyle}} {{setting.colorButton}}" (click)="addQuiz()">CRÉER</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{quizForm.getRawValue() | json}}-->
