<div class="card">
  <h2>Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      Titre&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="input-custom" type="text" id="title" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">CRÉER</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{quizForm.getRawValue() | json}}-->
